<html ng-app="seedApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    
    <title>Local Yogi</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet"/>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.4.1/css/ionicons.min.css">
    <script src="lib/ionic/js/ionic.bundle.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="css/app.css" rel="stylesheet"/>
  </head>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB16sGmIekuGIvYOfNoW9T44377IU2d2Es&sensor=true"></script>

  <body ng-controller="HomeTabCtrl">

    <!-- SIDE, TOP, AND BOTTOM NAV MENUS -->
    <ion-side-menus>
        <ion-side-menu-content ng-controller="NavCtrl">
          <ion-nav-bar class="bar-positive">
            <ion-nav-back-button class="button-icon ion-ios7-arrow-left">
            </ion-nav-back-button>
          </ion-nav-bar>
          <ion-nav-view animation="slide-left-right"></ion-nav-view>
        </ion-side-menu-content> 
        <ion-side-menu side="left">
          <ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title">Search</h1>
            <a menu-close>
                <button class="button button-icon button-clear ion-ios7-close-empty">
                </button>
            </a>
          </ion-header-bar>
          <ion-content has-header="true">
  
  
             <div ng-controller="searchController">
              <input type="text" ng-model="nameFilter" placeholder="Search..."/>
                <div class="list">
                  <a class="item item-avatar" href="#" ng-repeat="person in personList | filter: searchFilter">
                    <img src="img/user/{{person.id}}.png"/>
                    <h2>{{person.Person.firstName}}&nbsp;{{person.Person.lastName}}</h2>
                    <p> {{person.location}}</p>
                  </a>
              </div>
            
          </div>
        </div>
          </ion-content>
        </ion-side-menu>
      
        <ion-side-menu side="right">
          <ion-header-bar class="bar bar-header bar-dark">
            <h1 class="title">Right Menu</h1>
          </ion-header-bar>
          <ion-content>
            <ul class="list">
              <li>
                <a class="item" menu-close nav-clear href="#/search">Search</a>
              </li>
              <li>
                <a class="item" menu-close nav-clear href="#/settings">Settings</a>
              </li>
              <li>
                <a class="item" menu-close nav-clear href="#/entry">Logout</a>
              </li>
            </ul>
          </ion-content>
        </ion-side-menu>
        
      </ion-side-menus>

    <script id="tabs.html" type="text/ng-template">
      <ion-tabs class="tabs-icon-top tabs-positive">

        <ion-tab title="home" icon="ion-home" href="#/tab/home">
          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="classes" icon="ion-ios7-people" href="#/tab/classes">
          <ion-nav-view name="classes-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="map" icon="ion-map" ui-sref="tabs.map">
          <ion-nav-view name="map-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="profile" icon="ion-person" ui-sref="tabs.profile">
          <ion-nav-view name="profile-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>
    </script>

  <!-- LOGIN PAGES -->

 <script id="entry.html" type="text/ng-template">
      <ion-view title="entry">
        <ion-content>
           <p>
            <a class="button icon icon-right ion-chevron-right" href="#/tab/home">Login</a>
          </p>
        </ion-content>
      </ion-view>
    </script>

  <!-- HOME PAGES -->

    <script id="home.html" type="text/ng-template">
      <ion-view title="home">
          <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-ios7-search" ng-click="showMenu()">
            </button>
          </ion-nav-buttons>
          <ion-nav-buttons side="right">
          <a href="#/tab/addPost">
            <button class="button button-icon button-clear ion-ios7-compose">
            </button>
            </a>
          </ion-nav-buttons>
        <ion-content>
          Home Content
        </ion-content>
      </ion-view>
    </script>

    <script id="addPost.html" type="text/ng-template">
      <ion-view title="add post">
        <ion-content>
          <p>
            <a class="button icon icon-right ion-chevron-right" href="#/tab/classes">Even Next Page</a>
          </p>
        </ion-content>
      </ion-view>
    </script>

    <!-- CLASS PAGES -->

    <script id="classes.html" type="text/ng-template">
      <ion-view title="">
      <ion-header-bar>
          <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-ios7-search" ng-click="showMenu()">
            </button>
            <i on-nav-buttons ion-nav-bar side="center">
              <div class="button-bar" style="width:10em; margin: 5px auto;" >
                <a class="button" ng-click="mineVar= '' ">all </a>
                <a class="button" ng-click="mineVar='y' ">mine</a>
              </div>
            </ion-nav-buttons>
          <ion-nav-buttons side="right">
          <a href="#/tab/addClass">
            <button class="button button-icon button-clear ion-ios7-plus-empty">
            </button>
            </a>
          </ion-nav-buttons>
       </ion-header-bar>
        <ion-content ng-controller="ClassesTabCtrl">
         <div>
              <input type="text" ng-model="classFilter" placeholder="&nbsp; &nbsp;  search by teacher, type, or location"/>
                <div class="list" ng-repeat="a in repeatQ(60) track by $index ">
                      <div class="item item-divider">
                          {{dayAsText($index)}}
                        </div>
                        <a class="item item-avatar" href="#" ng-repeat="yclass in yClass |  filter: classSearchFilter | filter: {month: currentMonth($index)} | filter: {day: currentDay($index)} | filter: {mine: mineVar}">
                          <img src="img/user/{{yclass.teacherId}}.png"/>
                           <h2>{{yclass.time}}&nbsp;{{yclass.yogaType}}</h2>
                           <h2>with &nbsp;{{getClassTeacher(yclass.teacherId)}}</h2>
                            <div style="right: 0px" class="button-icon button-clear ion-location"></div>
                            &nbsp;{{yclass.location}}
                        </a>
                </div>
          </div> 
        </ion-content>
      </ion-view>
    </script>

    <script id="addClass.html" type="text/ng-template">
      <ion-view title="add class">
        <ion-content>
          Add yogaclass content
        </ion-content>
      </ion-view>
    </script>

    <!-- MAP PAGES -->

    <script id="map.html" type="text/ng-template">
      <ion-view title="map">
          <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-ios7-search" ng-click="showMenu()">
            </button>
          </ion-nav-buttons>
          <ion-nav-buttons side="right">
          <a href="#/tab/host">
            <button class="button button-icon button-clear ion-pin">
            </button>
            </a>
          </ion-nav-buttons>
        <ion-content ng-controller="MapCtrl">
            <div id="map" data-tap-disabled="true"></div>
        </ion-content>
          <ion-footer-bar class="bar-dark">
            <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
          </ion-footer-bar>
      </ion-view>
    </script>

    <script id="host.html" type="text/ng-template">
      <ion-view title="host">
        <ion-content>
          <p>where you host things</p>
        </ion-content>
      </ion-view>
    </script>

    <!-- PROFILE PAGES -->

      <script id="profile.html" type="text/ng-template">
      <ion-view title="profile">
          <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-ios7-search" ng-click="showMenu()">
            </button>
          </ion-nav-buttons>
            <ion-nav-buttons side="right">
            <a href="#/tab/settings">
              <button class="button button-icon button-clear ion-ios7-gear">
              </button>
              </a>
          </ion-nav-buttons>
        <ion-content>
          profile Content
        </ion-content>
      </ion-view>
    </script>

     <script id="settings.html" type="text/ng-template">
      <ion-view title="settings">
        <ion-content>
        <div class="list">

          <div class="item item-divider">
              Account
            </div>

          <a class="item item-icon-left" href="#">
            <i class="icon ion-email"></i>
            Privacy Settings
          </a>

          <a class="item item-icon-left item-icon-right" href="#">
            <i class="icon ion-chatbubble-working"></i>
            Payment
            <i class="icon ion-ios7-telephone-outline"></i>
          </a>

          <a class="item item-icon-left" href="#">
            <i class="icon ion-mic-a"></i>
            Account
            <span class="item-note">
            </span>
          </a>
            
            <div class="item item-divider">
              Profile
            </div>

          <a class="item item-icon-left" href="#">
            <i class="icon ion-person-stalker"></i>
            Facebook
            <span class="badge badge-assertive">0</span>
          </a>

           <a class="item item-icon-left" href="#">
            <i class="icon ion-person-stalker"></i>
            Instragram
            <span class="badge badge-assertive">0</span>
          </a>

          <a class="item item-icon-left" href="#">
            <i class="icon ion-person-stalker"></i>
            Invite Friends
            <span class="badge badge-assertive">0</span>
          </a>

          <a class="item item-icon-left" href="#/entry">
            <i class="icon ion-person-stalker"></i>
            Logout
            <span class="badge badge-assertive">0</span>
          </a>

        </div>
        </ion-content>
      </ion-view>
    </script>

    <!-- SEARCH PAGE -->

    <script id="search.html" type="text/ng-template">
      <ion-view title="Search">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" ng-click="showMenu()">
            </button>
          </ion-nav-buttons>
        <ion-content>
        <div class="list">
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input type="text">
            </label>
            <button class="button button-small">
              search
            </button>
          </div>
        </div>
          search page
        </ion-content>
      </ion-view>
    </script>
    

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="lib/moment/moment.js"></script>
    <script src="lib/angular-moment/angular-moment.js"></script>

  </body>
</html>